{% extends "malepy/user_base.html" %}

{% block article %}
    <header class="page-header">
        {% if action == 'Create' %}
            <h1 class="page-title">{{ action }} new {{ model }}</h1>
        {% else %}
            <h1 class="page-title">{{ action }} existing {{ model }}</h1>
        {% endif %}
    </header>

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-body">
                {% if form.non_field_errors %}
                    <p id="error_message">{{ form.non_field_errors }}</p>
                    <hr>
                {% endif %}

                {% if action == 'Create' %}
                    {% if model == 'Course' %}
                        <form action="{% url 'malepy:create_course' %}" method="post">
                    {% else %}
                        <form action="{% url 'malepy:create_assignment' %}" method="post">
                    {% endif %}
                {% else %}
                    {% if model == 'Course' %}
                        <form action="{% url 'malepy:update_course' id %}" method="post">
                    {% else %}
                        <form action="{% url 'malepy:update_assignment' id %}" method="post">
                    {% endif %}
                {% endif %}
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="top-margin text-left">
                        <label>{{ field.label }} <span class="text-danger">
                                            {% if field.field.required %}
                                                *
                                            {% endif %}
                                        </span>
                        </label>
                        <br>
                        {{ field }}
                        {% if field.errors %}
                            <p id="error_message">{{ field.errors|first }}</p>
                        {% endif %}

                    </div>
                {% endfor %}

                <hr>

                <div class="row">
                    <div class="col-sm-8m text-center">
                        <button class="btn btn-action" type="submit">{{ action }}</button>
                    </div>
                </div>
                </form>
            </div>

    </div>

{% endblock %}
