{% extends "malepy/user_base.html" %}

{% block article %}
    <header class="page-header">
        <h1 class="page-title">{{ course.shortcut }}</h1>
    </header>
    <h3>{{ course.name }}({{ course.year }})</h3>
    <hr>
    <h3>Assignments</h3>
    {% for assignment in assignments %}
        <p><b><a href="{% url 'malepy:assignment' assignment.id %}"> {{ assignment.name_en }} </a></b>, Ending: <b>{{ assignment.ending|date:"d-M-Y @ H:i" }}h</b> </p>
    {% endfor %}
    {% if not user.user_role %}
        <hr>
        <h3>Students/Teams</h3>
        {% for student in students %}
            {% if student.members %}
                <p><b><a href="">{{ student.username }} ({{ student.members }})</a> </b></p>
            {% else %}
                <p><b><a href="">{{ student.first_name }} {{ student.last_name }}</a> </b></p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block actions %}
    <hr>
    <h4>Actions</h4>
    <li><a href="{% url 'malepy:create_course_form' %}"><button class="btn btn-action">Create new Course</button></a></li>
    <li><a href="{% url 'malepy:update_course_form' course.id %}"><button class="btn btn-success">Update this Course</button></a></li>
    <li><a href="{% url 'malepy:delete_course' course.id %}"><button class="btn btn-danger">Delete this Course</button></a></li>
    <hr>
    <li><a href="{% url 'malepy:create_assignment_form' course.id %}"><button class="btn btn-action">Create new Assignment</button></a></li>
{% endblock %}
