{% extends "malepy/user_base.html" %}

{% block article %}
    <header class="page-header">
        <h1 class="page-title">{{ user.username }}'s Dashboard</h1>
    </header>

    <h3>Courses</h3>
    {% for enrollment in enrollments %}
        <p><b><a href="{% url 'malepy:course' enrollment.course.id %}"> {{ enrollment.course.name }} ({{ enrollment.course.year }})</a></b>, Enrolled: <b>{{ enrollment.enrolled|date:"d-M-Y" }}</b> </p>
    {% endfor %}
{% endblock %}

{% block actions %}
    <hr>
    <h4>Actions</h4>
    <li><a href="{% url 'malepy:create_course_form' %}"><button class="btn btn-action">Create new Course</button></a></li>
{% endblock %}
