{% extends "malepy/default_base.html" %}

{% block menu %}
    <li class="active"><a href="/">Home</a></li>
    <li><a class="btn" href="{% url 'malepy:sign' %}">SIGN IN</a></li>
{% endblock %}


{% block top_space %}
    <h3 class="text-center thin">The autograding platform for Machine Learning course assignments</h3>

    <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
            <div class="h-caption"><h4><i class="fa fa-code fa-5"></i>Python-powered</h4></div>
            <div class="h-body text-center">
                <p>This platform was built using the best from <a href="https://www.python.org/">Python 3.5</a> programming language and <a href="https://www.djangoproject.com/">Django</a> Web framework.
                    It's primarily focused on Python solutions to Machine Learning problems, but it can be easily modified to support scripts from other programming languages.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
            <div class="h-caption"><h4><i class="fa fa-shield fa-5"></i>Secure</h4></div>
            <div class="h-body text-center">
                <p>All user data are encrypted and well protected. Uploaded scripts are executed in sandboxes, preventing any harm to the server and user data.
                    Teachers and Students can only be added to the platform by Administrator.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
            <div class="h-caption"><h4><i class="fa fa-linux fa-5"></i>Open Source</h4></div>
            <div class="h-body text-center">
                <p>The platform is Open Source. It was built using Open Source libraries and the whole source code is available on <a href="https://github.com/vdragan1993/malepy-platform">GitHub</a>.
                    You can run an instance of <b>malepy</b> on your own servers.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
            <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Plagiarism Detection</h4></div>
            <div class="h-body text-center">
                <p>Submitted scripts are analyzed for plagiarism. Platform uses Stanford's <a href="https://theory.stanford.edu/~aiken/moss/">MOSS (Measure of Software Similarity)</a> to analyze
                    source codes and prevent cheating on the assignments.</p>
            </div>
        </div>
    </div> <!-- /row  -->
{% endblock %}

{% block container %}
    <h2 class="text-center top-space">Frequently Asked Questions</h2>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <h3>Why malepy?</h3>
            <p><b>malepy</b> is an acronym derived from <b>Ma</b>chine <b>Le</b>arning in <b>Python</b>. It was the most harmless name in the moment of its creation.</p>
        </div>
        <div class="col-sm-6">
            <h3>Who can use malepy?</h3>
            <p>
                <b>malepy</b> was initially created for Machine Learning course in 8th semester of Undergraduate Academic Studies
                of Software Engineering and Information Technologies at Chair of Informatics, Faculty of Technical Sciences, University of Novi Sad.
                As noted above, it's open source, therefore it can be used freely, respecting the MIT license.
            </p>
        </div>
    </div> <!-- /row -->

    <div class="row">
        <div class="col-sm-6">
            <h3>Are there any tutorials?</h3>
            <p>
                Not yet.
            </p>
        </div>
        <div class="col-sm-6">
            <h3>Can I customize this platform?</h3>
            <p>Yes, you can. Scroll down to the Contact section.</p>
        </div>
    </div> <!-- /row -->

{% endblock %}
