{% extends "malepy/user_base.html" %}

{% block article %}
    <header class="page-header">
        <h1 class="page-title">MOSS Reports</h1>
    </header>

    <table class="table">
        <thead>
            <th>Course</th>
            <th>Assignment</th>
            <th>Created</th>
            <th>Plagiarism</th>
        </thead>
        <tbody>
        {% for report in reports %}
            {% if report.plagiarism %}
                <tr class="bg-danger">
            {% else %}
                <tr class="bg-success">
            {% endif %}
            <td><a href="{% url 'malepy:course' report.assignment.course.id %}">{{ report.assignment.course.name }}({{ report.assignment.course.year }})</a></td>
            <td><a href="{% url 'malepy:assignment' report.assignment.id %}">{{ report.assignment.name_en }}</a></td>
            <td><a href="{% url 'malepy:report' report.id %}">{{ report.created|  date:"d-M-Y @ H:i" }}h</a></td>
            {% if report.plagiarism %}
                <td>Yes</td>
            {% else %}
                <td>No</td>
            {% endif %}
        {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}
